/* home.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Header Styles */
h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

/* Link Styles */
a {
    text-decoration: none;
    color: #007BFF;
    font-size: 1.2em;
    padding: 10px 20px;
    border: 2px solid #007BFF;
    border-radius: 5px



